*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans',sans-serif;
    min-width: width 1440px; 
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*DIMENSIONI GENERALI
*********************/
.dim_generali{
    width: 100%;
    height: 100%;
    margin: auto;
}
.dim_interne{
    margin: auto;
    width: 70%;
}
.debug{
    height: 600px;
}

.paragrafo_largo{
    line-height: 21px;
    font-size: 13px;
}
.bottone{
    display: inline-block;
       color: white;
       background-color: rgba(0, 97, 255, 1);
       text-decoration: none;
       padding:10px 27px;
    }   
/*HEADER**********
******************/
/*NAV*/
nav{
    width: 100%;
    padding: 1rem 0;
    /*
    position: fixed;
    
    z-index: 15;
    */
    background-color: white;
}
.nav_left, .nav_right{
    line-height: 21px;
    padding: 1rem 1rem;
}
nav> img{
    
    padding: 11px ;
    float: left;
    padding-left: 1rem;
    margin-right: 1rem;
}
.nav_left{
    float: left;
}

.nav_right{
    float: right;
    margin-right: 1rem;
}

.abott1{
    margin-right: 2rem;
    display: inline;
    text-decoration: none;
    color: black;
}
.a_bott{
    text-decoration: none;
    color: white;
    background-color: rgba(0, 97, 255, 1);
    padding: 5px 1rem;
}



/*STRUTTURA HEADER*/

/*MAIN************
******************/

/*STRUTTURA SEZZIONI*/
.titolo{
    background-color: rgba(180, 208, 231, 1);
    position: relative;
    
}
.cont_principale{
    width: 85%;
    margin: auto;
    padding-top: 8rem;
   
}

h1{
    width: 100%;
    padding-bottom: 3rem;
    font-size: 78px;

}
.colonna_titolo, .img_titolo{
    float: left;
    margin-bottom: -5rem;
}
.colonna_titolo{
      
    width: 30%;
}
.img_titolo{
    width: 70%;
}
.img_titolo> img{
    width: 100%;
    background-position: center;
    padding-left: 5.5rem;
}
.colonna_titolo> p{
    padding-bottom: 2rem;
}
.annulla_titolo{
    padding-top: 0.5rem;
}
.freccia{
    color: black;
    font-size: 226%
}
.dim_tex_colon{
   font-size: 14px; 
}
/**/

/*****SEZIONE2 COLONNE****/
.sezz_col{
    padding-top: 7rem;
}
.h2_colonne{
    padding-top: 14rem;
    font-size: 41px;
}

.fatturazione{
    padding-right: 1rem;
    padding-top: 4rem;
    display: inline-block;
}
/*
.fatturazione> input{
    border: 2px solid black;
}
*/
.spazio1{
    margin-bottom: 1rem;
}
.spazio2> {
    margin-top: 2rem;
}
/***STRUTTURA SEZZ 2 COLONNE**/
.colonne{
    border: 1px solid  rgba(217, 217, 220, 1);
    width: 30%;
    height: 1075px;
    float: left;
    margin-top: 4%;
    margin-bottom:5%
}


.sez_col_middle{
    margin-left: 5%;
    margin-right: 5%;
    
}
.sez_col_bottom{
    border: 1px solid rgba(217, 217, 220, 1);
    width: 100%;
    height: 100%;
    
}
/*style colonna*/
.raggruppamento> h3{
    font-size: 25px;
}
.raggruppamento> .mese{
    color: rgba(123, 136, 148, 1);
    font-size: 11px;
}
.raggruppamento> .prezzo{
    padding-bottom: 0.5rem;
}
.raggruppamento> .acquista{
    padding-top: 2rem;
}
.sp1{
    
    padding-bottom: 1rem ;
}
.sp2{
    padding-bottom:2rem ;
}
.sp2_0{
    padding-bottom: 3rem;
}
.sp3{
    padding-bottom: 9rem;
}
.altezz1{
    padding-top:1rem;
}
.altezza2{
    padding-top: 2rem;
}
.sottolinea{
    border-bottom: 1px solid  rgba(222, 222, 224, 1);
    width: 53px;
    padding-top: 2rem;
    
}
.head_colonne{
    width: 100%;
    border-bottom: 1px solid rgba(222, 222, 224, 1);
    text-align: center;
    line-height: 40px;
}
.raggruppamento> a{
   display: block;
   text-align: center;
}
.raggruppamento{
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
}
.raggruppamento> p> a{
    color:  rgba(0, 97, 255, 1);  
}
.li_colon{
    list-style: none;
    font-size: 12px;
    padding-bottom: 1.5rem;
}
li> i{
    color: rgba(0, 97, 255, 1);
    font-size: 13px;
    
}
.none{
    display: none;
}
/*****COLONNA BOTTOM*****/
.h3_bottom{

    padding-top: 1rem;
}
.bott_bottom{
    position: absolute;
    right: 2%;
    top: 8%;
    padding: 0.5rem 4rem;
}

/*SEZIONE 3 *********/
.partner{
    padding-top: 7rem;
}
.cont_foto_se3{
    float: left;
    width: 585px;
    height: 500px;
    background-image: url(./img/partner.png);
    background-size: cover;
}
.cont_par_se3{
    float: left;
    width: 38%;
    height: 500px;
    margin-left: 0px;
    margin-left: 4rem;
    margin-top: 2rem;
}
.cont_par_se3> h3{
    font-size: 24px;
    padding-bottom:1.5rem ;
}

.cont_par_se3> p{
    padding-bottom: 1rem;
}
.cont_par_se3> a{
    color: black;
    text-decoration: none;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    display: inline-block;
    margin-top: 1rem;
}
/**SEZIONE 4****/
.riq_centr{
    margin: 0 8%;
   
}
.riquadro{
   
    width: 28%;
    
    float: left;
    margin-top: 5%;
    margin-bottom:5%
}
.img_se4{
    width: 100%;
    height: 100%;
}
.business> h2{
    padding: 4rem 0 0;
    font-size: 40px;
}
.img> h3{
    font-size: 25px;
    padding-bottom: 2rem;
    
}

/**SEZIONE 5****/
.section5> h2{
    width: 51%;
    padding-top: 5rem;
    padding-bottom: 1rem;
    font-size: 40px;
}
.section5> a{
    color:  rgba(0, 97, 255, 1);
    display: inline-block;
    padding-bottom: 2rem; 
}
.sponsor_riquadri{
    background-color: rgba(180, 208, 231, 1);
}
/************
*************/
.cont_quadrati{
    height: 475px;
    width: 1598px;
    background-color: coral;
    
}
.quadrato{
    float: left;
    background-color: cornflowerblue;
    width: 475px;
    height: 100%;
    
}
.rettangolo{
    position: relative;
    float: left;
    background-color:rgba(245, 245, 245, 1);
    width: 648px;
    height: 100%;
    padding: 3rem 3rem 0rem 3rem   ;
}
.rett_interno{
    margin: auto;
    width: 90%;
}

.rettangolo> span> hr{
   
    width: 49px;
    border:1px solid rgba(228, 228, 230, 1);
}
.parag_rett1, .parag_rett2{
    padding-top: 3rem;
}
.quadratini{
    position: relative;
    float: left;
    color: white;
    width: 237.5px;
    height: 237.5px;
    
}
.quadratini> img{
    filter: invert(100);
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.img_quad {
    width: 121px;
    padding-bottom: 2rem;
    
}



.porta_business{
  background-color: rgba(180, 208, 231, 1);
    height: 355px;
    position: relative;
}
.porta_business> h2{
    color: rgba(97, 8, 43, 1);
    position: absolute;
    left: 2%;
    top: 30%;
    width: 43%;
    font-size: 250%;
}
.porta_business> a{
    
    text-align: center;
    position: absolute;
    margin-top: 112px;
    background-color: white;
    color: black;
    width: 30%;
    right: 0%;
}


.designit{
    border: 10px solid rgba(208, 233, 205, 1);
    background-color: rgba(162, 211, 155, 1);
}
.florida{
    background-color: rgba(0, 147, 206, 1);
}
.arizona{
    background-color: rgba(97, 8, 43, 1);
}
.topps{
    background-color: rgba(255, 28, 28, 1);
}
.bisycle{
    background-color: rgba(213, 0, 31, 1);
}
.lonely{
    background-color: rgba(13, 36, 129, 1);
}
.hearts{
    background-color:rgba(180, 208, 231, 1) ;
}
.clear{
    background-color: rgba(255, 216, 48, 1);
}

/**SEZIONE 6***********/
.domande{
    padding:5rem 0 8rem;
}
.domande> h3{
    padding-bottom: 3rem;
    padding-top: 4rem;
    font-size: 32px;
}



.contain_row{
    line-height: 5rem;
    border-top: 1px solid rgba(222, 222, 224, 1);
    
}

.row_freccia{
    color: black;
    float: right;
    padding-right: 2rem;
}
.contain_row:hover{
    padding:10px 10px;
    background-color: rgb(218, 230, 255);
}

.contain_row:hover .row_freccia{
    transform: rotate(180deg);
    display: inline-block;
}
.contain_row:hover {
    vertical-align: middle;
}

.contain_row:hover .risposta{
    display: block;
}
.risposta{
    display: none;
    text-align: center;
    
}


.row_ultimo{
    border-bottom: 1px solid rgba(222, 222, 224, 1);
}



.p_row{
    float: left;
    display: inline;
    font-weight: 600;
}


.ultimo{
    border-bottom: 1px solid rgba(222, 222, 224, 1);
}

/********************
***FOOTER************/
footer{
   background-color: black; 
   margin-top: 5rem;
}
.fot_dim{
    color: white;
    padding-top: 6rem;
    margin: auto;
  
    width: 90%;
    height: 100%;

}
/******colonne***/

.col_foot{
    padding-left: 2rem;
    float: left;
    width: 20%;

}
li> h3{
    padding-bottom: 1.5rem;
}
.col_foot> li{
    padding-top: 1rem;
    
    color: white;
    
}
.col_foot> ul> li{
    list-style: none;
}
.riga{
    width: 47%;
    padding-top: 6rem;
    padding-bottom: 3rem;
}


.sp_05{
    padding-bottom: 8px;
    font-size: 15px;
}
li> a{
    text-decoration: none;
    color: white;
}
.italia{
    font-size: 13px;
    color: rgba(85, 85, 85, 1);
}






/*FOOTER************
********************/
/*STRUTTURA FOOTER*/