*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*DIMENSIONI GENERALI
*********************/
.dim_generali{
    width: 100vw;
    margin: auto;
}
.dim_interne{
    margin: auto;
    width: 75%;
}
.debug{
    height: 600px;
}
.padd1{
    padding: 1rem 0;
}
.padd2{
    padding:2rem 0;
}
/*HEADER**********
******************/
/*NAV*/
nav{
    background-color: white;
}
.nav_left, .nav_right{
    line-height: 20px;
    padding: 1rem 1rem;
}

.nav_left{
    float: left;
}
.nav_right{
    float: right;
}
.menu> a{
    text-decoration: none;
    
}
.menu> img{
    padding-right: 2rem;
}
/*STRUTTURA HEADER*/

/*MAIN************
******************/

/*STRUTTURA SEZZIONI*/
.titolo{
    position: relative;
    background-color: aquamarine;
}
.cont_p> img{
    position: absolute;
    top: 8rem;
    right: 6rem;
    width: 610px;
}

h1{
    padding: 3rem 5rem;

}
.cont_p{
    width: 250px;
    padding-left: 5rem;
}
/**/
.prova_gratuita{
    display: inline-block   ;
    padding-top: 1rem;
}
.cont_p> a+p{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}
/**/
#freccia{
    display: inline-block;
    padding-bottom: 3rem;
}
/*****SEZIONE2 COLONNE****/
h2{
    padding-top: 100px;
}
.bott_fatt{
    display: inline-block;
    padding-right: 1rem;
    padding-top: 2rem;
}
/***STRUTTURA SEZZ 2 COLONNE**/
.colonne{
    background-color: burlywood;
    width: 32%;
    height: 200px;
    float: left;
    margin-top: 5%;
    margin-bottom:5%
}

.se_col_middle{
    margin-left: 2%;
    margin-right: 2%;
    
}
.se_col_bottom{
    width: 100%;
    height: 100px;
    background-color: rgb(75, 66, 54);
}
/*style colonna*/
.head_colonna{
    background-color: chartreuse;
    border-bottom: 1px solid black;
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
/*SEZIONE 3 *********/
.cont_partner_foto{

}
.cont_foto_se3{
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(./img/partner.png);
    background-size: cover;
}
.cont_par_se3{
    float: left;
    width: 38%;
    height: 500px;
    margin-left: 0px;
    margin-left: 4rem;
    margin-top: 2rem;
}
/**SEZIONE 4****/
.riquadro1{
    margin: 0 8%;
    
   
    width: 28%;
    
    float: left;
    margin-top: 5%;
    margin-bottom:5%
}
.riquadro{
   
    width: 28%;
    
    float: left;
    margin-top: 5%;
    margin-bottom:5%
}
.img_se4{
    width: 100%;
}







/*FOOTER************
********************/
/*STRUTTURA FOOTER*/