*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/*DIMENSIONI GENERALI
*********************/
.dim_generali{
    width: 100%;
    height: 100%;
    margin: auto;
}
.dim_interne{
    margin: auto;
    width: 75%;
}
.debug{
    height: 600px;
}
.padd1{
    
    padding: 1rem 1rem;
}
.padd2{
    padding:2rem 0;
}
.paragrafo_largo{
    line-height: 21px;
    font-size: 13px;
}
.bottone{
    display: inline-block;
       color: white;
       background-color: blue;
       text-decoration: none;
       padding: 0.5rem;
    }   
/*HEADER**********
******************/
/*NAV*/
nav{
    
    background-color: white;
}
.nav_left, .nav_right{
    line-height: 32px;
    padding: 1rem 1rem;
}
nav> img{
    line-height: 20px;
    padding: 1rem 0;
    float: left;
}
.nav_left{
    float: left;
}

.nav_right{
    float: right;
}
.menu> span{
    color: black;
    padding-left:1.0rem ;
    text-decoration: none;
}
.menu> a{
    padding: 0 1rem;
    line-height: 25px;
   margin-left: 1rem;
   display: inline-block;
   color: white;
   background-color: blue;
   text-decoration: none;
}

/*STRUTTURA HEADER*/

/*MAIN************
******************/

/*STRUTTURA SEZZIONI*/
.titolo{
    background-color: aquamarine;
    position: relative;
    
}
.cont_principale{
    width: 90%;
    margin: auto;
   
}

h1{
    padding-bottom: 3rem;
    font-size: 75px;

}
.colonna_titolo, .img_titolo{
    float: left;
    margin-bottom: -6.5rem;
}
.colonna_titolo{
      
    width: 30%;
}
.img_titolo{
    width: 70%;
}
.img_titolo> img{
    width: 100%;
    background-position: center;
    padding-left: 2rem;
}
.colonna_titolo> p{
    padding-bottom: 2rem;
}
.annulla_titolo{
    padding-top: 2rem;
}
#freccia{
    font-size: 226%
}

/**/

/*****SEZIONE2 COLONNE****/
h2{
    padding-top: 100px;
}
.bott_fatt{
    display: inline-block;
    padding-right: 1rem;
    padding-top: 2rem;
}
/***STRUTTURA SEZZ 2 COLONNE**/
.colonne{
    background-color: burlywood;
    width: 30%;
    height: 100%;
    float: left;
    margin-top: 5%;
    margin-bottom:5%
}


.sez_col_middle{
    margin-left: 3%;
    margin-right: 3%;
    
}
.sez_col_bottom{
    width: 100%;
    height: 100px;
    background-color: rgb(75, 66, 54);
}
/*style colonna*/

.head_colonna{
    
    border-bottom: 1px solid black;
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}
.raggruppamento{
    padding-left: 1rem;
}
/*SEZIONE 3 *********/
.partner{
    padding-top: 7rem;
}
.cont_foto_se3{
    float: left;
    width: 50%;
    height: 500px;
    background-image: url(./img/partner.png);
    background-size: cover;
}
.cont_par_se3{
    float: left;
    width: 38%;
    height: 500px;
    margin-left: 0px;
    margin-left: 4rem;
    margin-top: 2rem;
}
/**SEZIONE 4****/
.riquadro1{
    margin: 0 8%;
    
   
    width: 28%;
    
    float: left;
    margin-top: 5%;
    margin-bottom:5%
}
.riquadro{
   
    width: 28%;
    
    float: left;
    margin-top: 5%;
    margin-bottom:5%
}
.img_se4{
    width: 100%;
}

/**SEZIONE 5****/
.sponsor_riquadri{
    background-color: deepskyblue;
}
.quadrati{
    height: 318px;
    background-color: coral;
    margin: none;
}
.quadratini{
    float: left;
    background-color: cornflowerblue;
    width: 10%;
    height: 100%;
    
}
.rettangolo{
    float: left;
    background-color: darkgray;
    width: 60%;
    height: 100%;
}
.quad_int1{
    background-color: deeppink;
    width: 100%;
    height: 50%;
}
.quad_int{
    background-color: rgb(20, 255, 196);
    width: 100%;
    height: 50%;
}
.porta_business{
  background-color: hotpink;
    height: 280px;
}
.porta_business> h2{
    float: left;
}
.porta_business> a{
    float: right;
    display: inline-block;
    margin-top: 111px;
}

/**SEZIONE 6***********/
.domande{
    padding:5rem 0 ;
}
.domande> h3{
    
    padding-bottom: 2rem;
}


.row_domande{
   
    float: left;
    line-height: 3rem;
    border-top: 1px solid grey;
}

.row_freccia{
    padding-left: 45rem;
    padding-right:3rem;
    
}
.ultimo{
    border-bottom: 1px solid grey;
}

/********************
***FOOTER************/
footer{
    background-color: black;
}
.fot_dim{
    padding-top: 3rem;
    margin: auto;
   
    width: 90%;
    height: 100%;

}
/******colonne***/

.col_foot{
    padding-left: 2rem;
    float: left;
    width: 20%;

}
li> h3{
    padding-bottom: 1rem;
}
.col_foot> li{
    padding-top: 1rem;
    list-style: none;
    color: white;
}
.riga{
    width: 55%;
    padding-top: 7rem;
    padding-bottom: 4rem;
}









/*FOOTER************
********************/
/*STRUTTURA FOOTER*/